/ObservingDebugFrame.class
/ObservingDebugger.class
/Script.class
/ScriptApi$1.class
/ScriptApi.class
/ScriptDestroyable.class
/ScriptEventHandler.class
/ScriptEventManager$EventHandler.class
/ScriptEventManager.class
/ScriptFileWatcher.class
/ScriptManager.class
