/HttpRequest$RequestType.class
/HttpRequest.class
/HttpResponse.class
/Logger$LogItem.class
/Logger$LogType.class
/Logger.class
/TwitchAPIv5$FixFollowedTableRunnable.class
/TwitchAPIv5$request_type.class
/TwitchAPIv5.class
/UncaughtExceptionHandler.class
/YouTubeAPIv3$request_type.class
/YouTubeAPIv3.class
