/BTTVAPIv2.class
/DataRenderServiceAPIv1.class
/FrankerZAPIv1.class
/GameWispAPIv1.class
/GitHubAPIv3.class
/GoogleURLShortenerAPIv1.class
/ImgDownload.class
/NoticeTimer.class
/SimpleScramble.class
/SingularityAPI$NullHostnameVerifier.class
/SingularityAPI.class
/TwitchAlertsAPIv1.class
/TwitterAPI.class
