/DonationsCache.class
/EmotesCache.class
/FollowersCache.class
/SteamCache.class
/StreamElementsCache.class
/TipeeeStreamCache.class
/TwitchCache.class
/TwitterCache.class
/UsernameCache$UserData.class
/UsernameCache.class
/ViewerListCache.class
