/YTPlayerConnectEvent.class
/YTPlayerCurrentIdEvent.class
/YTPlayerDeleteCurrentEvent.class
/YTPlayerDeletePlaylistByIDEvent.class
/YTPlayerDeleteSREvent.class
/YTPlayerDisconnectEvent.class
/YTPlayerEvent.class
/YTPlayerLoadPlaylistEvent.class
/YTPlayerRandomizeEvent.class
/YTPlayerRequestCurrentSongEvent.class
/YTPlayerRequestPlaylistEvent.class
/YTPlayerRequestSonglistEvent.class
/YTPlayerSkipSongEvent.class
/YTPlayerSongRequestEvent.class
/YTPlayerStateEvent.class
/YTPlayerStealSongEvent.class
/YTPlayerVolumeEvent.class
